/* html { */
  
/* } */
/* Color Behind whole table (shows before load)
   White looks weird */
body {
  background-color: #000000;
}
/* Removes Scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* Base for table */
/* Position helps make sure it takes full screen */
table {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1f1f1f; /* cell backgrounds */
  width: 100%;                 /* full screen */
  border-collapse: collapse;   /* no space between cells, single border */
  font-family: Helvetica;      /* base font */
  text-align: center;          /* default to center */
}

/* Border separation between cells */
table td,
table th {
  border: 1px solid rgb(0, 0, 0);
}
/* Every other cell has black background */
table tr:nth-child(even) {
  background: #000000;
}

/* Header Formatting */
/* ID given for controlling header */
#headers {
  border-bottom: 2px solid #444444; /* Increased border separating header from body of table */
  background-color: #FFFF00;
  color: #000000;
  font-size: 100%;
  height: 20px;
  font-weight: bold;
  
}

/* Mouse Hover Effect */
table tbody tr:hover {
  background-color: #ddd;
}


/* ---- Footer ----- */
table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #000000;
  border-top: 2px solid #444444;
}
table tfoot td {
  font-size: 14px;
  padding: 7px 5px; /*height then sides */
}
table tfoot .links {
  text-align: center;
}
table tfoot .links button {
  display: inline-block;
  background: #ffffff;
  color: #000000;
  padding: 2px 8px;
  border-radius: 5px;
}


/* ---- Class adjustments ----  */
/* Columns */
.beer {
  font-size: 100%;
}

/* Alignment */
.serving, .Full, .Growler, .Crowler, .Half, .Quarter, .origin, .abv {
  /* text-align: center; */
  /* IDK why needs to be upscaled */
  font-size: 110%; 
} */
.tap {
  text-align: center;
}
.beer {
  text-align: left;
}

.parent {
  display: flex;
  flex-wrap: nowrap;
  border: none;
  align-items: center;
}
.child {
  text-align: center;
  margin-right: 10%;
}


/* Adding Symbols */
.Half::before { 
  content: "$";
}
.Quarter::before { 
  content: "$";
}
.Growler::before { 
  content: "$";
}
.Crowler::before { 
  content: "$";
}
.tap::before {
  font-size: small;
}
.Full::before {
  content: "$";
}
.abv::after {
  content: "%";
}
/* Stars for serving sizes other than 16oz */
.serving.differentSize::before {
  content: "*";
}
.serving.differentSize::after {
  content: "*";
}


/* -----  View Adjustments -----  */
/* could manage by screen orientation */
/* Mobile View */
@media (orientation: portrait) {
  /* Remove columns */
  thead, .tap, .Growler, .Crowler, .origin {
    display: none;
  }
  /* Decrease font size */
  .beer, .serving, .Half, .Full, .abv {
    font-size: 14px;
  }
  /* Show buttons */
  .mobileButtons {
    visibility: visible;
  }
  /* Hide other buttons */
  .displayButtons {
    visibility: collapse;
  }
  /* Padding */
  table tbody td {
    padding: 8px;
  }
}

/* Display/Desktop */
/* min-width: 1000px */
@media (orientation: landscape) { 
  /* Hide buttons */
  .mobileButtons {
    visibility: hidden;
  }
}
/* Display/Desktop */
/* min-width: 1000px */
@media (orientation: portrait) { 
  /* Hide buttons */
  .mobileButtons {
    visibility: visible;
  }
}



/* Colors based on beer type */
/* Can add any other styles! */
.Event {
  color: white;
  background-color: red;
}
.Cider {
  color: rgb(247, 255, 0);
}
[class*="IPA"] {
  color: rgb(43, 255, 28);
}
.Sour {
  color: rgb(255, 0, 247);
}
[class*="Porter, Stout"] {
  color: rgb(255, 170, 0);
}
.Wine {
  color: rgb(255, 0, 0);
}
[class*="Non Beer"] {
  color: rgb(38, 241, 255);
}
.Pilsner { /* default if no Type selected in Trello */
  color: rgb(255, 255, 255);
}


/* Sets before/after contents of some empty cells */
/* to remove unnecessary symbols: "$" and "%" */
td:empty::before {
  content: "--";
}
td:empty::after {
  content: "";
}